<form class="goal" [formGroup]="form">
  <input formControlName="name" class="name" placeholder="Name" />
  <label>
    Deadline
    <input formControlName="deadline" />
  </label>
  <input formControlName="status" />

  <h4>Actions</h4>
  <div class="action" *ngFor="let actionForm of actionForms; let i=index">
    <button type="button" (click)="removeAction(actionForm.value.id, i)">X</button>
    <pi-action [actionForm]="actionForm" [goal]="goal"></pi-action>
  </div>

  <button type="button" (click)="addAction()">+ Add Action</button>
</form>
