@import 'variables/colors';

:host {
  border-bottom: 1px solid $gray-5;
}

.goal {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.5rem;
}

.action {
  display: flex;
  flex-direction: row;
}

pi-action {
  flex-grow: 1;
}
